  ////////////////////////////////
 // COLOR PALLETE ///////////////
////////////////////////////////

// Global Colors
$siteBG : #FFF;
$strokeBG : #cf203d;
$textColor : #666666;
$roaRed : #cf203d;
$white: #FFF;
$black : #000;

// Header Colors
$headerBG : #FFF;
$headerStrokeColor : #cf203d;
$headerLinkColor : #cf203d;
$linkBottomStrokeColor : #cf203d;

// Footer Colors
$footerBG : #cf203d;
$footerTopStrokeColor : #000;

// Hero Colors 
$heroVerticalCallOutBG : rgba(178, 101, 166, .47);
$heroRightCallOutBG : rgba(255, 255, 255, .2);

// Lower Callouts
$middleCallOutBG : rgba(198, 156, 109, .3);

// Button Colors
$buttonBG : #cf203d;
$buttonHoverBG : #000;
$buttonColor : #FFF;
$buttonHoverColor : #FFF;

// H1, H2, H3 ..
$headerColor : #cf203d;

// Testimonials
$testimonialRed : #db586e;