  ////////////////////////////////
 // REGIONS /////////////////////
////////////////////////////////

.bottom-callouts {
	margin: 0 0 150px 0;

	.callouts-container {
		background: $white;
		// border-right: 10px solid $roaRed;	
		border-top-left-radius: 25px;
		margin-top: -160px;

		@include max-screen(913px){
			margin-top: -50px;
			transition: .4s;
		}
		
		span.right-stroke {
			background: $roaRed;
			height: 160px;
			position: absolute;
			right: 0;
			width: 10px;

			@include max-screen(913px){
				height: 50px;
				transition: .4s;
			}
		}

		.callout {
			padding: 25px;
			overflow: hidden;

			&:last-child { margin-right: 0; }
			
			h1 {
				@include font-size(21px);
				@include max-screen(960px){
					margin-top: 0;
				}
			}

		} // End Callout
	} // End Callouts Container
} // End Bottom Callouts

.slider-outer {
	margin-bottom: 0;
	min-height: 330px;
	max-height: 400px;
	
	&.testimonial {
		background: $testimonialRed;
		margin-bottom: 0;

		@include max-screen(750px){
			max-height: initial;
			transition: .4s;
		}
	} // End Testimonial

	.title-container {
		background: $roaRed;
		height: 25px;
		width: 100%;
		
		@include max-screen(575px){
			width: 100%;
			transition: .4s;
		}
		
		.title {
			background: $roaRed;
			color: $white;
			display: block;
			font-weight: 100;
			@include font-size(24px);
			height: 65px;
			letter-spacing: 0.05em;
			margin: 0 auto;
			padding-top: 15px;
			position: relative;
			top: -20px;
			text-align: center;
			width: 350px;
	
	 		@include max-screen(575px){
				width: 100%;
				transition: .4s;
			}			
		} // End Title
	} // End Title Container

	.slider-inner {
		overflow: hidden;

		a.control {
			color: $roaRed;
			@include font-size(26px);
			height: 100%;
			outline: none;		
			padding-top: 125px;	
			position: absolute;
			top: 0;
			width: 50px;
			
			span {
				display: block;
				margin: 0 auto;
				text-align: center;
			}	
			
			&.prev {
				left: 0;
			}

			&.next {
				right: 0;
			}
			
			&.testimonial {
				color: $white;
			}

			&:hover {
				transition: .8s;
				color: $black;
			}
		}

		ul {
			margin-top: 100px;
			overflow: hidden;
			padding-left: 0;

			li {
				@include border-radius(100px);
				border: 2px solid #CCC;
				display: block;
				padding-top: 10px;				
				text-align: center;
				float: left;
				height: 100px;
				list-style: none;
				margin-right: 25px;
				width: percentage(100/960);

				span {
					color: $roaRed;
					display: block;
					margin: 25px auto 0;
					text-align: center;


					img {
						display: block;
					}
				} // End Span
			} // End Li
		
			&.testimonial {
				margin: 35px 0;
				width: 100%;
				
				li {
					border: none;
					border-radius: 0;
					@include border-radius(0px);
					display: none;
					float: left;
					height: initial;
					margin-right: 0;
					text-align: left;
					width: 100%;

					&:first-child {
						display: block;
					}
				}
				
				blockquote {				
					color: $white;
					font-weight: 100;
					font-style: italic;
					@include font-size(18px);
					line-height: 1.8em;
					margin: 0 auto;
					padding: 0 35px;
					width: 90%;
					
					@include max-screen(540px){
						@include font-size(16px);
						line-height: 1.9em;
						transition: .4s;
					}

					@include max-screen(320px){
						@include font-size(14px);
						line-height: 1.5em;
						transition: .4s;
					}

					strong {
						color: $black;
						display: block;
						@include font-size(18px);
						font-style: normal;
						margin-top: 25px;

						@include max-screen(540px){
							@include font-size(14px);
							transition: .4s;
						}						
					
					}
				}
			} // End Testimonial UL Specific Styles

		} // End UL
	} // End Slider Inner
} // End Slider Container